* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;

  justify-content: center;
  align-content: center;
  align-items: center;
}

button {
  width: 150px;
  height: 40px;
  background: blueviolet;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
